{% load static from staticfiles %}
 <footer class="tamu-footer"role="contentInfo">
<div id="tamu-footer-container">
        <!-- <div id="tamu-footer" class="container">
          <div class="row">
          <div id="tamu-footer-img" class="span3">
                <img alt="" height="45" src="http://library.tamu.edu/assets/images/maroon_lib.png">
            </div>
            <div id="tamu-footer-links" class="span8">
                <ul>
                    <li><a href="http://library.tamu.edu">Texas A&amp;M University Libraries</a></li>
                    <li><a href="http://library.tamu.edu/about/hours.html">Hours &amp; locations</a></li>
                    <li> <a href="https://library.tamu.edu/mylibrary/">MyLibrary</a></li>
                    <li> <a href="http://askus.library.tamu.edu/">AskUs</a></li>
                </ul>
           </div>
        </div>
 </div>-->
    


    
        <div class="container contribute">
            <div class="row ">
                    <div class="span1 newsIcon"><img src="/media/images/news_icon.png"/></div>
                    <div class="span7">
                        <div class="row giveText">
                            <div class="span5">
                        <h4>Are you interested in including a title to our archive?</h4> 
                    </div>
                        <div class="span2"><button class="btn btn-large btn-default" type="button">Get Involved</button>
                        </div></div>
                    
</div>


                    <div class="span4 socialIcons">
                        <div class="row">
                            <div class="span2">
                        <h4>Follow us!</h4>
                    </div>
                    <div class="span2">
                        <ul>
                            <li> <img src="/media/images/facebook.png" /></li>
                            <li><img src="/media/images/youtube.png" /></li>
                        </ul>
                    </div>
                </div>


                    </div>


        </div>


        </div>

<div id="global-footer">
        <div class="container">
            <div class="row">
                <!-- #bottom-logo end -->
                <div id="bottom-text" class="span12">
                    <ul>
                        <li><a href="https://howdy.tamu.edu">howdy.tamu.edu</a></li>
                        <li><a href="../services/tech_troubleshooting.html">Off-Campus Access</a></li>
                        <li><a href="http://www.tamu.edu">Texas A&amp;M University</a></li>
                        <li><a href="http://library.tamu.edu/compliance.html">Site Policies</a></li>
                    <li><a href="http://www.thecb.state.tx.us/apps/txcrews/">Texas CREWS</a></li>
                        <li><a href="http://asktamulib.altarama.com/reft100.aspx?key=comments">Comments</a></li>
                        <li>TEST</li>
                    </ul>
                </div>
                <!-- .bottom-text end -->
                <div class="clear"></div>
                <p class="copyright vcard">© <span class="fn org">Texas A&amp;M University</span>, <span class="adr"> <span class="locality">College Station</span>, <span class="region">Texas</span> <span class="postal-code">77845</span></span>.&nbsp;&nbsp;
                   
                </p>
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- global-footer end -->
    <!-- Global footer snippet end -->
</footer> 