{% load static from staticfiles %}

<div class="search_results_ctrl">
    <span class="nav"><a href="{% url 'chronam_issues' issue.title.lccn %}" class="ar-back">Back to Browse All Available Issues</a> 
| Show all front pages</span>
{% if paginator.num_pages > 1 %}
    <span class="pagination pagination-small">
|
<ul style="margin-bottom: -9px;">
	  <li>

	    {% if page.has_previous %}
			<a href="{% url 'chronam_issues_first_pages_page_number' title.lccn page.previous_page_number %}" class="prev">prev</a>
		{% else %}
			<a class="disabled" class="prev">prev</a>
        {% endif %}

		</li>
	
	  {% for page_number in page_range_short %}

	  {% ifequal page_number "..." %}
	  <li><span>...</span></li>
	  {% else %}

	  {% ifequal page_number page.number %}
	  <li class="disabled"><span>{{page_number}}</span></li>
	  {% else %}
	  <li><a href="{% url 'chronam_issues_first_pages_page_number' title.lccn page_number %}">{{page_number}}</a></li>
	  {% endifequal %}

	  {% endifequal %}
	  {% endfor %}
	  
		<li>
	    {% if page.has_next %}
			<a href="{% url 'chronam_issues_first_pages_page_number' title.lccn page.next_page_number %}" class="next">next</a>
		{% else %}
			<a class="disabled" class="next">next</a>
        {% endif %}		
		</li>
		
	</ul>
    </span>
    <form action="" method="GET" class="jumptopage" name="page_number_form">
        <label for="jumptopage">Jump to page:</label> <input class="std" type="text" id="jumptopage" name="page" value="" size="5" />
       <input type="submit" class="submit" value="GO" />
    </form>
{% endif %}
</div><!-- end class:search_results_ctrl -->
