/*
      TAMU Libraries specific extenstions to stylesheets  in static library
 */

table.month td {
    text-align: center;
}

table.month td.title {
    font-weight: bold;
    background-color: #eff2f4;
}

table.month td.single, table.month td.multiple {
    background-color: #2bffc6; 
}

table.month td.single {
    font-weight: bold;
}

table.month td.multiple {
    font-weight: bold;
    font-style: italic;
}

.navbar-inverse .navbar-inner {
    background-color: #5a534d;
    background-image: -moz-linear-gradient(top,#4d4d4d,#5a534d);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#4d4d4d),to(#5a534d));
    background-image: -webkit-linear-gradient(top,#4d4d4d,#5a534d);
    background-image: -o-linear-gradient(top,#4d4d4d,#5a534d);
    background-image: linear-gradient(to bottom,#4d4d4d,#5a534d);
    background-repeat: repeat-x;
    border-color: #a9a09a
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44dd44dd44dd',endColorstr='#5a534d',GradientType=0);
}
