{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block box-tabs %}
{% endblock %}

{% block main_content %}
 <div id="std_box">


  <!--div class="about_pic_box"><a href="#"><img src="images/logo_neh.gif" width="210" height="101" alt="neh" /></a><br /><a href="#"><img class="loc" src="images/logo_loc.gif" width="215" height="47" alt="Library of Congress" /></a></div-->
  <p>The Texas A&amp;M University Libraries are in the process of digitizing our holding of the Texas Collegiate, The College Journal, The Battalion, and The Daily Bulletin/Reveille.  If you have copies of these newspapers that you would like to donate to help complete our holdings please contact Cushing Memorial Library at <a href="mailto:cushing-library@tamu.edu">cushing-library@tamu.edu</a> or 979-845-1951.
</p>

</div><!-- end id:std_box -->

{% endblock main_content %}
