{% extends "site_base_alt.html" %}

{% load static from staticfiles %}

{% block box-tabs %}
{% endblock %}

{% block main_content %}

<div id="std_box">
    


<script src="https://api2.libanswers.com/1.0/widgets/3064"></script>
<div id="s-la-widget-3064"></div>









<h2><a id="faq" class="help" shape="rect">Frequently Asked Questions (FAQs)</a></h2>

<h4>TAMU Updates</h4>


<p>The Texas A&amp;M University Newspaper Collection consists of digitized newspapers that have been or currently are produced by Texas A&amp;M University.  These newspapers were digitized from original copies held at Cushing Memorial Library and Archives and microfilmed copies from Sterling C. Evans Library.</p>
 
<p><strong>Why are there missing issues?</strong><br />
Unfortunately the University Libraries do not have complete holdings of all the newspapers produced at Texas A&amp;M University and as a result there are missing issues. 
</p>
<p><strong> 
I have a copy/copies of missing issues, are you interested in them?</strong><br />
Yes we are seeking any missing issues so that we can complete our holdings. Please visit the <a href="contribute.html">Contribute</a> page on how you can help accomplish that. </p>
 
<p><strong>I have discovered an error, who should I contact?  </strong><br />
If you happen to find an error within the collection (missing pages, pages out of order, broken links) please contact Cushing Memorial Library and Archives at <a href="mailto:cushing-library@tamu.edu">cushing-library@tamu.edu</a> or 979-845-1951 so that we can address the issues as soon as possible.</p>
 
<p><strong>Will other newspapers held within the Libraries be digitized?</strong><br />
At this time this site is only focused on newspapers that have been produced by Texas A&amp;M University.  </p>
</div>

{% endblock %}

